---
---

/* @import "{{ site.theme }}"; */
body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}
/* Sticky Navigation Bar */
section nav {
   position: sticky;
   top: 0; /* Stick to the top of the page */
   background-color: #fff; /* Change this to whatever background color you prefer */
   z-index: 1000; /* Keeps the nav bar on top of other content */
   border-bottom: 1px solid #e5e5e5; /* Optional: Border below the nav bar */
   padding: 10px 0;
}

section nav ul {
   display: flex;
   justify-content: space-around;
   list-style: none;
   margin: 0;
   padding: 0;
}

section nav ul li {
   margin: 0;
}

section nav ul li a {
   color: #675C5C; /* Navigation link color */
   text-decoration: none;
   font-weight: normal;
   font-size: 11px; /* Adjust font size here */
/*    padding: 10px 15px;
   display: block; */
}

section nav ul li a:hover,
section nav ul li a:focus {
   color: #267CB9; /* Hover color */
   font-weight: normal;
}
